body {
    font-family: Roboto;
    letter-spacing: 2px;

    padding: 0;
    margin: 0;
}

.contact-button,
.header__nav,
.section-1__title,
.section-2__title,
.section-2__gem h6 {
    font-family: Righteous;
    text-transform: uppercase;
}

.section-1__title,
.section-2__title,
.section-2__gem h6,
.section-2__gem p {
    margin: 0;
}

.contact-button {
    width: fit-content;
    border: 0px;
    border-radius: 10px;
    padding: 10px 16px;
    
    font-size: 16px;  
    color: rgb(224, 119, 151);
    background-color: rgb(255, 217, 0);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    background-color: rgb(224, 119, 151);
}

.header__logo {
    width: 40px;
    height: 40px;
}

.header__nav {
    list-style: none;
    color: white;

    display: flex;
    gap: 30px;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 15%;
    gap: 20px;

    background-image: url("https://wallpapers.com/images/hd/cartoon-network-pink-sky-lqaj20rrxhjickju.jpg");
}

.section-1__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;

    background-color: rgb(224, 119, 151, 0.80);
}

.section-1__title {
    font-size: 48px;
    color: aqua;
}

.section-1__img {
    border-radius: 10px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 10%;
    gap: 50px;
}

.section-2__title {
    color: rgb(255, 217, 0);
    font-size: 72px;
}

.section-2__gems {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.section-2__gem {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.section-2__gem img {
    width: 100%;
    border-radius: 10px;
    justify-self: center;
}

.section-2__gem h6 {
    font-size: 16px;
    margin: 16px 0 8px;
    color: rgb(224, 119, 151);
}